

<form action="/blah" method="post">
  <label for="formData">
    Enter your name:
    <input type="text" name="name">
    {{!-- The 'name' here can be referred to as req.body.name --}}
  </label>
  <input type="submit" name="" value="Submit">
</form>