<form action="/addQuote" method="post">
<label for="quoteInput">Add a quote to the database:</label>
  <input type="text" name="quoteInput" placeholder="Enter quote">
<label for="nameInput">Who are you quoting?</label>  
  <input type="text" name="nameInput" placeholder="Enter name">
  <button type="submit">Submit</button>
</form>
{{> back}}