<form action="/addQuote" method="post">
<label>Submit your own quote!</label>
  <input type="text" for="quote" placeholder="Type the quote here">
  <input type="text" for="name" placeholder="The person being quoted">
  <button type="submit">Submit</button>
</form>