<form action="/addQuote" method="post">
<label for="quoteInput">
  <input type="text" name="quoteInput" placeholder="ENTER YOUR QUOTE">
</label>
<label for="nameInput">  
  <input type="text" name="nameInput" placeholder="WHO ARE YOU QUOTING?">
</label>  
  <button type="submit">Submit</button>
</form>