<h2>Hola! Bienvenido</h2>
<h3>Esta es la página primera.</h3>
<p>Please select >>></p>
<form action="/" method="post">
  <label for="name">First name:</label>
  <input type="text" id="name" name="name">
  <input type="submit" value="Submit">
  </form>