<section id="main-section">
  <h1>Thank you for your quote...</h1>
  <h2 id="quote-text">"{{quote}}"</h2>
  <h3>-{{name}}</h3>
  <h1>Unfortunately we are unable to save these quotes just yet, but the functionality is on its way!</h1>
  {{> backButton}}
</section>