<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./styles/main.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>patProject</title>
</head>
<body>
  <section id="header-container">
<header></header>
</section>
<section id="main-section-container">
  <section id="outer-square">
    <section id="square-content">
  {{{body}}}
  </section>
  </section>
</section>
</body>
</html>